/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 5.5rem;
  font-size: 1.2rem;
}

#frontpage {
  padding-top: 3.5rem;
}

.img-vignette {
    width: 30%;
    float: right;
    margin-left: 0.5em;
}

.img-illustration.img-small {
    width: 25%;
}
.img-illustration {
    clear: both;
    width: 50%;
    float: left;
    margin-right: 0.5em;
}

.img-illustration p.source {
    color: #888;
    font-size: 90%;
    margin-top: -1em;
}

@media screen and (max-width : 740px) {
  .img-illustration.img-small,
  .img-vignette {
      width: 50%;
  }
  .img-illustration {
      width: 100%;
      margin-left: 0;
  }
}

@media screen and (max-width : 576px) {
    .img-illustration.img-small,
    .img-vignette {
      width: 100%;
      margin-left: 0;
  }
}


h2, h3 {
    clear: both;
}
