/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 5.5rem;
  font-size: 1.1rem;
}

#frontpage {
  padding-top: 3.5rem;
}

.img-vignette {
    width: 30%;
    float: right;
    margin-left: 0.5em;
}

.float-left {
    margin-right: 1em;
}

.float-right {
    margin-left: 1em;
}

@media screen and (max-width : 740px) {
  .img-vignette {
      width: 50%;
  }

}

@media screen and (max-width : 576px) {
    .img-vignette {
      width: 100%;
      margin-left: 0;
  }
}


h2, h3 {
    clear: both;
}

hr {
    clear: both;
}

.table {
    overflow: auto;

}

.authors {
    font-size: 90%;
    font-style: italic;
    text-align: right;
}

figure {
    padding: 0 !important;
}

figure p.legende {
    font-size: 80%;
}
